/* 로그인 영역 */
.login-area .cnt-in {
    max-width: 520px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px;
}
.login-area .cnt-in .login-box h1 {
    font-size: 32px;
    line-height: 32px;
}
.login-area .cnt-in .login-box .login-btn {
    margin-top: 40px;
}
.login-area .cnt-in .add-box {
    margin-top: 16px;
}
.login-area .cnt-in .add-box .logo-box {
    width: 129px;
}
.login-area .cnt-in .add-box .cs-center-box .text {
    font-size: 14px;
    line-height: 14px;
    margin-right: 16px;
}
.login-area .cnt-in .add-box .cs-center-box .call {
    font-size: 32px;
    line-height: 32px;
}
.login-area .cnt-in .copyright {
    font-size: 12px;
    line-height: 12px;
    bottom: 56px;
}

/* ------------------------------------------------------------------------------- */

/* ~920 */
@media (max-width:920px) {
    /* 로그인 영역 */
    .login-area .cnt-in {
        max-width: 640px;
    }
    .login-area .cnt-in .login-box {
        padding: 80px 40px 74px 40px;
    }
    .login-area .cnt-in .add-box .logo-box {
        width: 108px;
    }
    .login-area .cnt-in .add-box .cs-center-box .text {
        margin-right: 12px;
    }
    .login-area .cnt-in .add-box .cs-center-box .call {
        font-size: 28px;
        line-height: 28px;
    }
}
/* //~920 */

/* ------------------------------------------------------------------------------- */

/* ~680 */
@media (max-width:680px) {
    /* 로그인 영역 */
    .login-area .cnt-in .login-box {
        padding: 60px 30px 40px 30px;
    }
    .login-area .cnt-in .login-box h1 {
        font-size: 24px;
        line-height: 24px;
    }
    .login-area .cnt-in .login-box .id-input {
        margin-top: 40px;
    }
    .login-area .cnt-in .add-box .logo-box {
        width: 64px;
    }
    .login-area .cnt-in .add-box .cs-center-box .text {
        font-size: 12px;
        line-height: 12px;
    }
    .login-area .cnt-in .add-box .cs-center-box .call {
        font-size: 20px;
        line-height: 20px;
    }
    .login-area .cnt-in .copyright {
        font-size: 10px;
        line-height: 10px;
        bottom: 20px;
    }
}
/* //~680 */