.fc-day-sun a {
    color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
    color: blue;
}

#calendar {
    width: 100%;
    font-size: 16px;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: transparent !important;
}

.fc .fc-daygrid-day-number {
    font-size: 14px !important;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    background-color: #2656F6;
    border-radius: 50%;
    color: #fff !important;
}

.fc-theme-standard .fc-scrollgrid-sync-table td {
    box-sizing: border-box;
    padding: 6px;
    text-align: left !important;
}

.fc .fc-daygrid-day {
    width: auto;
    height: auto;
}

#calendar > * {
    font-family: "Pretendard-Regular";
}

.fc .fc-daygrid-day-frame {
    height: 12vh;
}

.fc-event {
    border-radius: 5px;
    margin: 2px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}